
html, body {
    font-family: "Courier New", Consolas, monospace;

    box-sizing: border-box;


    background: #cacaca;
    }

.wrapper {
    width: 960px;
    margin: 1em auto;
    background: #fff;
    padding : 1em;
    }

